.sidebar__wrapper {
    top: 0;
    right: 0;
    position: fixed;
    width: 200%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 2;
}

.sidebar {
    position: absolute;
    right: 0;
    width: 634px;
    height: 100%;
    background-color: #DE6DF1;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 200%;
    padding-top: 68px;
    padding-left: 41px;
}

.sidebar__close-btn {
    position: absolute;
    top: 60px;
    right: 47px;
    cursor: pointer;
}

.sidebar__nav {
    margin-bottom: 140px;
}

.sidebar__nav-item {
    display: inline-block;
    cursor: pointer;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.sidebar__contacts {
    color: black;
}

.sidebar__contacts a {
    margin-bottom: 30px;
}

.sidebar__contact-item {
    margin-bottom: 30px;
}

.sidebar__contact-item:last-child {
    margin-bottom: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}