@media screen and (max-width: 767px) {
    .sidebar {
        width: 300px;
        font-size: 12px;
        line-height: 24px;
    }

    .sidebar__nav-item {
        font-size: 20px;
        line-height: 24px;
    }

    .sidebar__close-btn {
        width: 12px;
        height: 14px;
    }
}