.contact {
    background-color: #fff;
    padding: 245px 31px 105px;
}

.contact__wrapper {
    display: flex;
    justify-content: center;
    background: linear-gradient(292.4deg, #3587BF -63.31%, rgba(222, 109, 241, 0.99) 130.37%);
    border-radius: 68px;
}

.contact__phone {
    max-height: 781px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 571px;
}

.contact__phone-img {
    position: relative;
    top: -164px;
}

.contact__title {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    font-size: var(--title-fz);
    line-height: 60px;
    color: #FFFFFF;
}

.contact__subtitle {
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: 'Golos-Text-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: var(--sub_title-fz);
    line-height: 34px;
    color: #FFFFFF;
}

.contact__form-field {
    background: #FFFFFF;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 25px 0 25px 34px;
    font-family: 'Golos-Text-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: var(--sub_title-fz);
    line-height: 34px;
    color: #C9C9C9;
    margin-bottom: 25px;
}

.contact__form input:nth-child(7) {
    margin-bottom: 50px;
}

.contact__form-field:focus {
    outline: none;
}
