.clients {
    background-color: #fff;
}

.client-tags {
    padding-top: 165px;
    margin: 0 140px 70px auto;
    width: 252px;
}

.client-tags h3:nth-child(2) {
    text-align: center;
}

.clients-banner-wrapper {
    display: flex;
    overflow: hidden;
}

.clients__banner {
    animation: slide 5s linear infinite;
    margin-left: 165px;
}
.clients__banner:first-child {
}

@keyframes slide {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-1582px);
    }
}