@media screen and (max-width: 1160px) {
    .burger {
        visibility: visible;
    }
}

@media screen and (max-width: 425px) {
    .burger {
        top: 50px;
        right: 13px;
        width: 39px;
        height: 28px;
    }
    .burger span {
        width: 39px;
        height: 5px;
        color: black;
    }
}