.burger {
    display: flex;
    width: 66px;
    height: 47px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger span {
    background-color: #DE6DF1;
    display: block;
    width: 66px;
    height: 10px;
}

.burger__top-line {}

.burger__middle-line {}

.burger__bottom-line {}