.contact-btn {
    cursor: pointer;
    background-color: #DE6DF1;
    padding: 25px 135px;
    border: 2px solid transparent;
    border-radius: 15px;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    font-size: var(--sub_title-fz);
    line-height: 33px;
    color: #FFFFFF;
    transition: 0.3s ease;
}

.contact-btn:hover {
    color: #DE6DF1;
    border: 2px solid black;
    background-color: #fff;
}