.portfolio {
    background-color: #EBF6FE;
    padding-top: 54px;
}

.porfolio__wrapper {
    max-width: 1161px;
    margin: 0 auto;
}

.portfolio__tags {
    margin-left: 142px;
    width: 300px;
}

.portfolio__tags h3:last-child {
    text-align: end;
}

.porftolio__items {
    margin: -18px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
}

.porfolio__item-img {
    background-image: url("../img/case1.png");
    z-index: -1;
}

.portfolio__contact-link {
    display: flex;
    justify-content: flex-end;
}

.contact__link {
    margin-top: 70px;
}