.services {
    background-color: #EBF6FE;
    padding-top: 160px;
}
.services__wrapper {
    max-width: 1161px;
    margin: 0 auto;
}
.service__tags {
    margin-left: auto;
    width: 190px;
}
.service__tags h3:last-child {
    text-align: end;
}
.services__items {
    max-width: 1161px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 50px;
}
